.addchannel-enter {
  opacity: 0.1;
}

.addchannel-enter.addchannel-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.addchannel-leave {
  opacity: 1;
  max-height: 100px;
}

.addchannel-leave.addchannel-leave-active {
  max-height: 0;
  opacity: 0.1;
  transition: all 500ms ease-out;
}