@media (min-width: 992px) {
  .sidebar {
    /* To prevent sidebar to move when scrollbar appears */
    width: 215px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    padding: 0;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    /* Scrollable contents if viewport is shorter than content. */
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f8f8f8;
    border-right: 1px solid #eee;
  }
}

.sidebar .navbar-nav > li {
  width: 100%;
}

.sidebar .navbar-nav > li.sidebar-item-link > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar .navbar-nav > li.sidebar-item-link.active > a {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.sidebar .navbar-nav > li.sidebar-item-link.active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.sidebar .navbar-nav > li.sidebar-item-link > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}